.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
}

.ant-tabs-ink-bar {
    background: #FFF;
}

.ant-tabs-tab {
    padding: 10px;
    padding-bottom: 2px;
}

.ant-tabs-tab div a {
    color: #bbb;
}

.ant-tabs-tab.ant-tabs-tab-active div a {
    color: #fff;
}

.ant-tabs-tab div a.lower {
    color: #eee;
}

.ant-tabs-tab.ant-tabs-tab-active div a.lower {
    color: #00499c;
}
