# dependencies
**/node_modules
**/package-lock.json
**/build
**/*.log*
**/dist
**/pytest_cache
**/__pycache__
**/*.egg-info
**/.vscode
**/static/*
**/_build/*
**/.ipynb_checkpoints/*
openfisca_uk/
openfisca_uk_data/
