flask
flask_cors
kaleido
google-cloud-storage>=1.42.0
gunicorn
tables
wheel
rdbl
h5py
requests>=2.25.1
pandas>=1.1.4
numpy>=1.17.5
pyyaml>=5.3.1
pytest>=5.4.3
OpenFisca-Core>=35.4.1
microdf_python>=0.3.0
OpenFisca-Tools>=0.1.6,<0.2.0
tqdm>=4.59.0
plotly>=4.14.3
argparse>=1.4.0
inquirer>=2.7.0
pathlib
jupyter-book>=0.11.1
sphinxcontrib-bibtex>=1.0.0
synthimpute>=0.1.0
OpenFisca-US==0.1.0
